body{
  width: 100vw;
  overflow-x: hidden;
  color: '#005aff';
  background-color: #f9f9f9;
}
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}